<!DOCTYPE html>
<html lang="en">
  <head>
    <title>James's Address Book</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/addContact.css" rel="stylesheet">

    <script src="../static/js/jquery-3.1.1.js"></script>
    <script src="../static/js/editOrg.js"></script>

  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                    <li role="presentation" class="active"><a href="viewBook">View Book</a>
                    </li>
                </ul>
        </nav>
        <h3 class="text-muted">James's Address Book</h3>
        </br>
        <p class="text-muted">
          Here you can edit organisations. Please ensure no spaces are used.
        </p>                
      </div>

 
      <div class="jumbotron">
        <h1>Edit Organisation</h1>

        <form class="form-signin">
        <label for="inputname1" align ="left" class="sr-only">Name</label>
        <input type="hidden" value="" name="inputname1" id="inputname1" class="form-control" required autofocus>

        <label for="inputdetails1" class="sr-only">Details</label>
        <input type="hidden" name="inputdetails1" id="inputdetails1" class="form-control" placeholder="Input Details">

        <label for="inputname2" align ="left" class="sr-only">Name</label>
        <input type="test" value="" name="inputname2" id="inputname2" class="form-control" required autofocus>

        <label for="inputdetails2" class="sr-only">Details</label>
        <input type="details" name="inputdetails2" id="inputdetails2" class="form-control" placeholder="Input Details">

        <button id="btnEditOrg" class="btn btn-lg btn-primary btn-block" type="button">Edit</button>
      </form>
      </div>

      <footer class="footer">
            <p>james@james-odonnell.com</p>
      </footer>
 
    </div>
    

    <script LANGUAGE="javascript">
      function getURLParameter(name) {
        return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search) || [null, ''])[1].replace(/\+/g, '%20')) || null;
      }
    </script> 

    <script>

      document.getElementById('inputname1').value = (getURLParameter('Orgname1'));
      document.getElementById('inputdetails1').value = (getURLParameter('Orgdetails1'));

      document.getElementById('inputname2').value = (getURLParameter('Orgname2'));
      document.getElementById('inputdetails2').value = (getURLParameter('Orgdetails2'));

    </script>

  </body>


</html>